*{
	margin: 0;
	padding: 0;
}

html{
	scroll-behavior: smooth;
}

body{
	min-height: 100vh;
}

nav{
	position: fixed;
	width: 100%;
	height: 3em;
	background: rgba(0,0,0,0.1);
	backdrop-filter: blur(0.4em);
	-webkit-backdrop-filter: blur(0.4em);
	transition: height 300ms;
	overflow: hidden;
	z-index: 99;
}

nav .container{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: min(400px, 90%);
	margin: auto;
}

a{
	color: inherit;
	text-decoration: none;
}

nav i{
	color: #fff;
	text-shadow: 0 0 10px #03bcf4,
	0 0 20px #03bcf4,
	0 0 40px #03bcf4,
	0 0 80px #03bcf4,
	0 0 160px #03bcf4;
	-webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0,0,0,0.1));
	line-height: 0.65em;
	text-transform:	lowercase;
	cursor: pointer;
}

.hidden{
	height: 0;
}

.welcome{
	width: 100%;
	height: 100vh;
	background: #0b121c;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1{
	font-family: 'Lobster Two', cursive;
	font-size: 6rem;
	color: #121924;
	-webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0,0,0,0.1));
	line-height: 0.75em;
	animation: glow 5s linear infinite;
	outline: none;
}

@keyframes glow{
	0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
		color: #121924;
		text-shadow: none;
	}
	18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
		color: #fff;
		text-shadow: 0 0 10px #03bcf4,
		0 0 20px #03bcf4,
		0 0 40px #03bcf4,
		0 0 80px #03bcf4,
		0 0 160px #03bcf4;
	}
}

.project{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	padding: 2em;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.project .image{
	margin-top: 2em;
	width: min(400px, 90%);
}

.project a{
	margin-top: 0.8em;
	font-size: 1.5rem;
	font-family: 'Cabin', sans-serif;
	color: rgba(0, 110, 255,0.65);
	text-shadow: 0 0 1px dodgerblue;
}

h2{
	font-family: 'Cabin', sans-serif;
	font-size: 3rem;
	color: rgba(255,255,255,0.9);
	text-shadow: 0 0 2px #03bcf4;
}

.description{
	margin-top: 0.6em;
	font-family: 'Cabin', sans-serif;
	font-size: 1.8rem;
	color: rgba(255,255,255,0.85);
	text-shadow: 0 0 2px #03bcf4;
	position: relative;
}

.lc{
	background-image: url('../images/lcb.jpg');
	background-position: center;
	background-size: cover;
}

.uc{
	background-image: url('../images/aaa.jpg');
	background-position: center;
	background-size: cover;
}

.mc{
	background-image: url('../images/cat.jpg');
	background-position: top;
	background-size: cover;
}

.end{
	background-color: #0a1113;
}

.footer{
	padding: 0.85em 0;
	text-align: center;
	background: #0b121c;
	overflow: hidden;
	
}

.copyright{
	color: #121924;
	font-family: 'Cabin', sans-serif;
	-webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0,0,0,0.1));
	line-height: 0.65em;
	animation: glow 5s linear infinite;
	font-size: 0.9rem;
}

.trigger{
	height: 3em; width: 100%;
	position: fixed;
	z-index: 100;
}

/* width */
::-webkit-scrollbar {
  width: 0.7em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0b121c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff2;
}
