/*BrowserThings*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-family: 'Calibri', sans-serif;
	font-size: 2vh;
	user-select: none;
	-webkit-user-select: none;
}

body{
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	background-color: black;
}

.mainHeader{
	position: relative;
	height: 12vh;
	width: 100%;
	padding-left: 1vh;
	background-color: black;
	color: transparent;
	-webkit-text-stroke: 0.1vh white;
	font-family: 'Unica One', cursive;
	font-size: 10vh;
	font-variant: small-caps;
}

#mainMenu{
	position: relative;
	max-width: 80vh;
	height: 82vh;
	box-sizing: border-box;
	background-color: rgba(12, 26, 51, 0.6);
	backdrop-filter: blur(2vh);
	-webkit-backdrop-filter: blur(2vh);
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}

.mainMenuTitle{
	height: 10%;
	font-size: 6vh;
	padding-top: 0.6vh;
	font-family: 'Unica One', cursive;
}

.mainMenuForm{
	height: 80%;
	font-family: 'Saira', sans-serif;
}

.formOptionL{
	height: 18%;
	margin-bottom: 1vh;
	margin-left: 10vh;
	margin-right: 20vh;
	background-color: rgba(48, 56, 72, 0.7);
	box-sizing: border-box;
	transition: 1s;
}

.formOptionR{
	height: 18%;
	margin-bottom: 1vh;
	margin-left: 20vh;
	margin-right: 10vh;
	background-color: rgba(52, 62, 81, 0.7);
	box-sizing: border-box;
	transition: 1s;
}

.formOptionL .image{
	width: 26%;
	height: 100%;
	background-position: center;
	background-size: cover;
	float: left;
}

.formOptionR .image{
	width: 26%;
	height: 100%;
	background-position: center;
	background-size: cover;
	float: right;
}

.formOptionL .rest{
	width: 74%;
	height: 100%;
	float: right;
}

.formOptionR .rest{
	width: 74%;
	height: 100%;
	float: left;
}

.title{
	height: 50%;
	width: 100%;
	font-size: 3.6vh;
	font-weight: bold;
	font-variant: small-caps;
}

.formOptionL .title{
	text-align: left;
	padding-left: 1vh;
}

.formOptionR .title{
	text-align: right;
	padding-right: 1vh;
}

.option{
	height: 50%;
	width: 50%;
	float: left;
	transition: 0.1s;
	padding-top: 0.5vh;
	font-size: 3vh;
}

.formOptionL .option{
	padding-left: 1vh;
	text-align: left;
}

.formOptionR .option{
	padding-right: 1vh;
	text-align: right;
}

.formResult{
	position: absolute;
	top: 0;
	width: 100%;
	height: 0;
	background-color: #1f2124;
	overflow: hidden;
	transition: 2s;
}

.formResult.on{
	height: 100%;
}

.formButton{
	height: 10%;
	padding-top: 1.3vh;
}

.formResultTitle{
	position: relative;
	height: 12%;
	padding-top: 1.25vh;
	font-size: 6vh;
	font-family: 'Unica One', cursive;
	color: white;
}

#formResultList{
	position: relative;
	overflow: hidden;
	height: 78%;
}

.formResultOption{
	width: 80%;
	height: 8vh;
	margin-bottom: 1.1vh;
	background-color: grey;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.closeButton{
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	height: 10%;
	color: #525252;
	font-size: 4vh;
	transition: 0.5s;
}

.closeButton:hover{
	color: #ff9036;
}

.closeButton:active{
	color: #cc7229;
	transition: 0.2s;
}

.button{
	border-radius: 10px;
	background-color: #474747;
	border: none;
	color: white;
	padding: 1.5vh;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: 'Unica One', cursive;
	text-transform: uppercase;
	font-size: 2.2vh;
	cursor: pointer;
	transition: 0.5s;
}

.button:hover{
	background-color: #ff9036;
	transition: 0.5s;
}

.button:active{
	background-color: #cc7229;
	transition: 0.2s;
}

.button:focus{
	outline: none;
}

.mainFooter{
	position: relative;
	height: 6vh;
	width: 100%;
	padding-top: 1.9vh;
	color: white;
	font-size: 1.6vh;
	font-variant: small-caps;
	background-color: black;
	text-align: center;
}

#background{
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url("../images/backgrounds/firewatch.jpg");
	background-position: top;
	background-size: cover;
	transition: 2s;
}

#background.sunset{
	background-image: url("../images/backgrounds/sunset.jpg");
	background-position: center;
	transition: 2s;
}

#background.village{
	background-image: url("../images/backgrounds/village.jpg");
	background-position: bottom;
	transition: 2s;
}

#loadingScreen{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: #1f2124;
	z-index: 99;
}

#loadingScreen.off{
	left: 100%;
	transition: 1s;
}

#loadingShark{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: 1s;
}

#loadingShark.off{
	right: 85%;
}








@media only screen and (max-width: 80vh) {
	#mainMenu{
		/*background-color: #1f2124;*/
	}
  
  .formOptionL{
		margin-left: 9vh;
		margin-right: 18vh;
		/*background-color: #2c2f33;*/
	}

	.formOptionR{
		margin-left: 18vh;
		margin-right: 9vh;
		/*background-color: #35383d;*/
	}
	.mainMenuTitle{
		color: white;
	}
	.button:hover{
		background-color: #474747;
		transition: 0.2s;
	}
}

@media only screen and (max-width: 73vh) {  
	.formOptionL{
		margin-left: 7vh;
		margin-right: 14vh;
	}
	.formOptionR{
		margin-left: 14vh;
		margin-right: 7vh;
	}
}

@media only screen and (max-width: 67vh) {  
  .formOptionL{
		margin-left: 5vh;
		margin-right: 10vh;
	}
	.formOptionR{
		margin-left: 10vh;
		margin-right: 5vh;
	}
}

@media only screen and (max-width: 62vh) {  
  .formOptionL{
		margin-left: 3vh;
		margin-right: 6vh;
	}
	.formOptionR{
		margin-left: 6vh;
		margin-right: 3vh;
	}
}

@media only screen and (max-width: 57vh) {  
  .formOptionL{
		margin-left: 1vh;
		margin-right: 1vh;
	}
	.formOptionR{
		margin-left: 1vh;
		margin-right: 1vh;
	}
	.formOptionR .title{
		text-align: center;
	}
	.formOptionR .option{
		text-align: center;
	}
	.formOptionL .title{
		text-align: center;
	}
	.formOptionL .option{
		text-align: center;
	}
}

/* width */
::-webkit-scrollbar {
	position: absolute;
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: #363636;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #3b3b3b;
}