*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-family: 'Poppins', sans-serif;
}

body{
	width: 100%;
	min-height: 100vh;
	user-select: none;
}

/*MENU*//*MENU*//*MENU*/
/*MENU*//*MENU*//*MENU*/
/*MENU*//*MENU*//*MENU*/

#menu{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(255,255,255,1), rgba(138,235,255,1));
}

#menu.off{
	display: none;
}

#rulestab{
	position: absolute;
	width: 300px;
	height: 600px;
	background-color: #4da6ff;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
	border-radius: 0px 20px 20px 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 55px;
	padding: 10px;
	left: 280px;
	right: 0;
	transition: 1s;
}

#rulestab.on{
	left: 900px;
}

.ruletitle{
	font-size: 26px;
	font-weight: bold;
	text-decoration: underline;
}

.rule{
	margin-top: 5px;
	padding-left: 17px;
	font-size: 18px;
	clear: both;
}

.ruletxt{
	font-weight: normal;
}

li{
	font-weight: bold;
}

.optionSpeed{
	width: 25px;
	border-radius: 5px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 4px;
	margin-left: 50px;
	float: left;
	text-align: center;
	cursor: pointer;
}

.optionTime{
	width: 25px;
	border-radius: 5px;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 50px;
	float: left;
	text-align: center;
	cursor: pointer;
}

#menu_main{
	position: absolute;
	width: 600px;
	height: 700px;
	background-color: dodgerblue;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	left: 0;
	right: 0;
}

#title{
	height: 20%;
	text-align: center;
	font-size: 90px;
	font-variant: small-caps;
	font-weight: bold;
	box-sizing: border-box;
}

#rules{
	height: 12%;
	text-align: center;
	font-size: 35px;
	box-sizing: border-box;
	transition: 0.3s;
	font-weight: bold;
}

#rules:hover{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
}

#block{
	height: 50%;
	background-color: #4da6ff;
	border-radius: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

#c_title{
	height: 18%;
	text-align: center;
	font-size: 45px;
}

#characters{
	height: 53%;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}

.postac{
	width: 33.3%;
	height: 100%;
	float: left;
	padding-top: 10px;
	box-sizing: border-box;
}

.p_title{
	font-size: 20px;
}

.p_img{
	padding-top: 10px;
}

#img1{
	height: 100px;
	width: 100px;
	border-radius: 50px;
	box-sizing: border-box;
	background-image: url('../images/kot.jpg');
	background-position: center;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
}

#img2{
	height: 100px;
	width: 100px;
	border-radius: 50px;
	background-image: url('../images/oposbeta.jpg');
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
}

#img3{
	height: 100px;
	width: 100px;
	border-radius: 50px;
	background-image: url('../images/boomerang.jpg');
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
}

#menu_rekord{
	text-align: center;
	font-size: 40px;
}

#d_start{
	height: 18%;
	width: 100%;
	padding-top: 60px;
}

#button{
	margin: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}

#start{
	border-radius: 10px;
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 30px 15px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	margin: 4px 2px;
	cursor: pointer;
	transition: 0.5s;
}

#start:hover{
	background-color: #3b833e;
	color: white;
	transition: 0.5s;
}

#start:active{
	background-color: #2f6a31;
	color: white;
	transition: 0.2s;
}

#start:focus{
	outline: none;
}

/*SYSTEM*//*SYSTEM*//*SYSTEM*/
/*SYSTEM*//*SYSTEM*//*SYSTEM*/
/*SYSTEM*//*SYSTEM*//*SYSTEM*/

#system{
	display: none;
	position: absolute;
	font-size: 25px;
	font-weight: bold;
	margin-left: 15px;
	margin-top: 15px;
}

#system.on{
	display: inherit;
}

/*ODLICZANIE*//*ODLICZANIE*//*ODLICZANIE*/
/*ODLICZANIE*//*ODLICZANIE*//*ODLICZANIE*/
/*ODLICZANIE*//*ODLICZANIE*//*ODLICZANIE*/

#odliczanie{
	display: none;
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 250px;
	text-shadow: 0px 0px 1px black;
}

#odliczanie.on{
	display: inherit;
}

/*GAMEOVER*//*GAMEOVER*//*GAMEOVER*/
/*GAMEOVER*//*GAMEOVER*//*GAMEOVER*/
/*GAMEOVER*//*GAMEOVER*//*GAMEOVER*/

#gameover_grad{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(255,255,255,1), rgba(138,235,255,1));
	cursor: url('../images/dead.png'), auto;
}

#gameover_grad.on{
	display: inherit;
}

#gameover{
	position: absolute;
	width: 600px;
	height: 500px;
	background-color: dodgerblue;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	left: 0;
	right: 0;
	text-align: center;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
}

#go_title{
	height: 23%;
	font-size: 75px;
	font-weight: bold;
	font-variant: small-caps;
}

.go_block{
	height: 50%;
	padding-top: 19px;
	background-color: #4da6ff;
	border-radius: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.go{
	margin-top: 20px;
	height: 20%;
	width: 100%;
	float: left;
	font-size: 25px;
}

#go_button{
	height: 64%;
	width: 100%;
	float: left;
	padding-top: 23px;
}

#go_menu{
	border-radius: 10px;
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 30px 15px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	margin: 4px 2px;
	cursor: pointer;
	transition: 0.5s;
}

#go_menu:hover{
	background-color: #3b833e;
	color: white;
	transition: 0.5s;
}

#go_menu:active{
	background-color: #2f6a31;
	color: white;
	transition: 0.2s;
}

#go_menu:focus{
	outline: none;
}

/*PAUZA*//*PAUZA*//*PAUZA*/
/*PAUZA*//*PAUZA*//*PAUZA*/
/*PAUZA*//*PAUZA*//*PAUZA*/

#pause{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(5px);
}

#pause.on{
	display: inherit;
}

#pauset{
	position: absolute;
	font-size: 550px;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#pauseesc{
	position: absolute;
	width: 300px;
	margin: 0;
	top: 57%;
	left: 85%;
	transform: translate(-50%, -50%);
	font-size: 20px;
}

#canvas{
	display: block;
	background-color: white;
}